/* From Uiverse.io by mrhyddenn */ 
.mouse-btn {
    margin: 10px auto;
    border: 3px solid rgba(177, 177, 177, 0.918);
    border-radius: 20px;
    display: flex;
  }
  
  .mouse-scroll {
    display: block;
    background: linear-gradient(170deg, rgba(230, 230, 230, 0.918), rgb(229, 230, 230));
    border-radius: 50%;
    margin: auto;
    animation: scrolling13 1.5s linear infinite;
  }
  
  @keyframes scrolling13 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }